JAGS 4.3.0
    available at: http://mcmc-jags.sourceforge.net/

R 3.6.0:
    BayesianFirstAid 0.1
        available at: https://github.com/rasmusab/bayesian_first_aid
    ggplot2 3.2.0
    ggthemes 4.2.0

MATLAB 9.4:
    dlmcell.m
        available at: https://www.mathworks.com/matlabcentral/fileexchange/25387-write-cell-array-to-text-file
    csvimport.m
        available at: https://www.mathworks.com/matlabcentral/fileexchange/23573-csvimport
        